@function palette-light() {
  @return (
    'black': #000000,
    'white': #ffffff,
    // Primary
    'primary0': #000000,
    'primary10': #010965,
    'primary20': #1d2678,
    'primary30': #353e90,
    'primary40': #4e57a9,
    'primary50': #6770c4,
    'primary60': #818ae0,
    'primary70': #9ba4fd,
    'primary80': #bdc2ff,
    'primary90': #dfe0ff,
    'primary95': #f1efff,
    'primary99': #fffbff,
    'primary100': #ffffff,
    // Secondary
    'secondary0': #000000,
    'secondary10': #181a2c,
    'secondary20': #2d2f42,
    'secondary30': #444559,
    'secondary40': #5c5d72,
    'secondary50': #74758b,
    'secondary60': #8e8fa6,
    'secondary70': #a9a9c1,
    'secondary80': #c4c4dd,
    'secondary90': #e1e0f9,
    'secondary95': #f1efff,
    'secondary99': #fffbff,
    'secondary100': #ffffff,
    // Tertiary
    'tertiary0': #000000,
    'tertiary10': #301400,
    'tertiary20': #502400,
    'tertiary30': #723600,
    'tertiary40': #954a00,
    'tertiary50': #b95e08,
    'tertiary60': #d97726,
    'tertiary70': #fa903e,
    'tertiary80': #ffb785,
    'tertiary90': #ffdcc6,
    'tertiary95': #ffede4,
    'tertiary99': #fffbff,
    'tertiary100': #ffffff,
    // Error
    'error0': #000000,
    'error10': #410000,
    'error20': #690000,
    'error30': #930000,
    'error40': #ba1a1a,
    'error50': #de3131,
    'error60': #ff4a4a,
    'error70': #ff7d7d,
    'error80': #ffabab,
    'error90': #ffd6d6,
    'error95': #ffebeb,
    'error99': #fffafa,
    'error100': #ffffff,
    // Neutral
    'neutral0': #000000,
    'neutral4': #0e0e11,
    'neutral6': #131316,
    'neutral10': #1b1b1f,
    'neutral12': #1f1f23,
    'neutral17': #2a2a2d,
    'neutral20': #303034,
    'neutral22': #353438,
    'neutral24': #39393c,
    'neutral30': #47464a,
    'neutral40': #5f5e62,
    'neutral50': #78767a,
    'neutral60': #929094,
    'neutral70': #adaaaf,
    'neutral80': #c8c5ca,
    'neutral87': #dcd9de,
    'neutral90': #e4e1e6,
    'neutral92': #eae7ec,
    'neutral94': #f0edf1,
    'neutral95': #f3f0f4,
    'neutral96': #f6f2f7,
    'neutral98': #fcf8fd,
    'neutral99': #fffbff,
    'neutral100': #ffffff,
    // Neutral Variant
    'neutral-variant0': #000000,
    'neutral-variant10': #1b1b23,
    'neutral-variant20': #2f3038,
    'neutral-variant30': #46464f,
    'neutral-variant40': #5e5d67,
    'neutral-variant50': #777680,
    'neutral-variant60': #91909a,
    'neutral-variant70': #abaab4,
    'neutral-variant80': #c7c5d0,
    'neutral-variant90': #e3e1ec,
    'neutral-variant95': #f2effa,
    'neutral-variant99': #fffbff,
    'neutral-variant100': #ffffff
  );
}

@function palette-dark() {
  @return (
    'black': #000000,
    'white': #ffffff,
    // Primary
    'primary0': #000000,
    'primary10': #241a00,
    'primary20': #3e2e00,
    'primary30': #594400,
    'primary40': #765b00,
    'primary50': #947200,
    'primary60': #b38b00,
    'primary70': #d3a500,
    'primary80': #f3c023,
    'primary90': #ffdf93,
    'primary95': #ffefd0,
    'primary99': #fffbff,
    'primary100': #ffffff,
    // Secondary
    'secondary0': #000000,
    'secondary10': #0f1c30,
    'secondary20': #253145,
    'secondary30': #3b475d,
    'secondary40': #535f76,
    'secondary50': #6b778f,
    'secondary60': #8591aa,
    'secondary70': #9fabc5,
    'secondary80': #bbc7e1,
    'secondary90': #d7e3fe,
    'secondary95': #ecf0ff,
    'secondary99': #fdfbff,
    'secondary100': #ffffff,
    // Tertiary
    'tertiary0': #000000,
    'tertiary10': #001b3e,
    'tertiary20': #003064,
    'tertiary30': #00468c,
    'tertiary40': #005db8,
    'tertiary50': #2d76d6,
    'tertiary60': #4e90f2,
    'tertiary70': #7aacff,
    'tertiary80': #aac7ff,
    'tertiary90': #d6e3ff,
    'tertiary95': #ecf0ff,
    'tertiary99': #fdfbff,
    'tertiary100': #ffffff,
    // Error
    'error0': #000000,
    'error10': #410000,
    'error20': #690000,
    'error30': #930000,
    'error40': #ba1a1a,
    'error50': #de3131,
    'error60': #ff4a4a,
    'error70': #ff7d7d,
    'error80': #ffabab,
    'error90': #ffd6d6,
    'error95': #ffebeb,
    'error99': #fffafa,
    'error100': #ffffff,
    // Neutral
    'neutral0': #000000,
    'neutral4': #0d0e11,
    'neutral6': #121316,
    'neutral10': #1a1b1e,
    'neutral12': #1e2023,
    'neutral17': #292a2d,
    'neutral20': #2f3033,
    'neutral22': #343538,
    'neutral24': #38393c,
    'neutral30': #46474a,
    'neutral40': #5e5e62,
    'neutral50': #77777a,
    'neutral60': #909094,
    'neutral70': #ababaf,
    'neutral80': #c7c6ca,
    'neutral87': #dad9dd,
    'neutral90': #e3e2e6,
    'neutral92': #e9e7ec,
    'neutral94': #efedf1,
    'neutral95': #f1f0f4,
    'neutral96': #f4f3f7,
    'neutral98': #faf9fd,
    'neutral99': #fdfbff,
    'neutral100': #ffffff,
    // Neutral Variant
    'neutral-variant0': #000000,
    'neutral-variant10': #181c22,
    'neutral-variant20': #2d3038,
    'neutral-variant30': #44474e,
    'neutral-variant40': #5b5e66,
    'neutral-variant50': #74777f,
    'neutral-variant60': #8e9099,
    'neutral-variant70': #a8abb4,
    'neutral-variant80': #c4c6d0,
    'neutral-variant90': #e0e2ec,
    'neutral-variant95': #eff0fa,
    'neutral-variant99': #fdfbff,
    'neutral-variant100': #ffffff
  );
}
