// display-large display-medium display-small
// headline-large headline-medium headline-small
// title-large title-medium title-small
// body-large body-medium body-small
// label-large label-medium label-small
@mixin text-style($style) {
  font-family: var(--md-sys-typescale-#{$style}-font);
  font-size: var(--md-sys-typescale-#{$style}-size);
  font-weight: var(--md-sys-typescale-#{$style}-weight);
  line-height: var(--md-sys-typescale-#{$style}-line-height);
  letter-spacing: var(--md-sys-typescale-#{$style}-tracking);
}
